<div class="row form">
  <div class="col-xs-12 col-sm-12 col-md-12 center">
    <h2><%= event.name %></h2>
  </div>
  <div class="col-xs-5 col-sm-5 col-md-5">
    <% if event.person.avatar.present? %>
      <%= image_tag event.person.avatar.url(:medium) %>
    <% else %>
      <%= image_tag("no_image.png", :size => "248×248") %>
    <% end %>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2">
    <br><br><br>
    <%= image_tag("x.png", :size => "100x100") %>
  </div>
  <div class="col-xs-5 col-sm-5 col-md-5 right">
    <% if event.resource.avatar.present? %>
      <%= image_tag event.resource.avatar.url(:medium) %>
    <% else %>
      <%= image_tag("no_image.png", :size => "248×248") %>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12">
    <h4><%= event.detail %></h4>
    <%= link_to "詳細", event_path(event), :class => "btn btn-info normal" %>
  </div>
</div>
