<div class="row form">
  <div class="col-xs-12 col-sm-12 col-md-12 center">
    <h2><%= event.name %> 
      <% if current_user && current_user.id == event.user_id %>
        <small><%= link_to "編集", edit_event_path(event) %>・<%= link_to "削除", event_path(event), method: :delete %></small>
      <% end %>
    </h2>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4">
    <%= image_tag(person_photo(event.person), :class => "img-responsive") %>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4">
    <%= image_tag("x.png", :class => "img-responsive") %>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4">
    <%= image_tag(resource_photo(event.resource), :class => "img-responsive") %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 text_long">
    <h4><%= br(event.detail) %></h4>
    <div class="right">
      <%= link_to event_path(event) do %>
        <p>→イベント詳細</p>
      <% end %>
    </div>
  </div>
</div>
