<div class="login_back">
  <div class="log-in">
    <div class="log-in-inner">
      <div class="center">
        <%= image_tag("top.png", :size => "165x117") %>
      </div>
      <h2>カタひらで遊ぶにはログインしてね！</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div>
          <%= f.email_field :email, autofocus: true, placeholder: 'メールアドレス', class: 'input form-control' %>
        </div>

        <div>
          <%= f.password_field :password, autocomplete: "off", placeholder: 'パスワード', class: 'input form-control' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="checkbox">
              <label>
                <input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1">
                <%= f.label :ログイン情報を記憶する, class: 'memory-check' %>
              </label>
          </div>
        <% end -%>

        <div>
          <%= f.submit class: 'btn btn-primary withripple', value: 'ログイン' %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
