<div class="row form">
  <div class="col-xs-6 col-sm-6 col-md-6">
    <% if resource.avatar.present? %>
      <%= image_tag resource.avatar.url(:medium) %>
    <% elsif resource.pfile %>
      <%= image_tag("resources/#{resource.pfile}.png", :size => "248×248") %>
    <% else %>
      <%= image_tag("no_image2.png", :size => "248×248") %>
    <% end %>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6">
    <h3><%= resource.name %></h3>
    <h4>keywords</h4>
    <% resource.keywords.each do |keyword| %>
      <p>◆ <%= keyword.name %></p>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12">
    <br>
    <p><%= resource.detail %></p>
  </div>
</div>
