<div class="col-lg-12">
  <div class="row form">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <%= form_tag(resource_path, {:multipart => true, method: :patch}) do %>
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h3>Edit Name</h3>
          <input placeholder="名前をひらがなで入力してください" type="text" class="form-control" name="name" autofocus="true" value="<%= @resource.name %>"></input>
          <h3>Edit Detail</h3>
          <textarea placeholder="Detailを入力してください" name="detail" cols="30" rows="10" class="form-control"><%= @resource.detail %></textarea>
          <h3>Add Keywords</h3>
          <input placeholder="キーワード1" type="text" class="form-control" name="keyword1"></input>
          <input placeholder="キーワード2" type="text" class="form-control" name="keyword2"></input>
          <input placeholder="キーワード3" type="text" class="form-control" name="keyword3"></input>
          <h3>Edit Photo</h3>
          <input placeholder="ファイル名を番号で入力してください" type="text" class="form-control" name="pfile" value="<%= @resource.pfile %>"></input>
          <input type="submit" value="更新" class="btn btn-primary withripple">
        </div>
      <% end %>
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h3>Delete Keywords</h3>
        <%= link_to "削除", "/resources/#{@resource.id}/keywords", :class => "btn btn-primary withripple", method: :delete %>
      </div>
    </div>
  </div>
</div>
