<%= image_tag("step1.png", :class => "img-responsive") %>
<% @people.each do |person| %>
  <div class="row form">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <%= image_tag(person_photo(person), :class => "img-responsive") %>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <h3><%= person.name %></h3>
      <h4>keywords</h4>
      <% person.keywords.each do |keyword| %>
        <p>◆ <%= keyword.name %></p>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 right">
      <p><%= link_to "→詳細", person_path(person) %></p>
    </div>
  </div>
<% end %>
<%= paginate(@people) %>
