<%= image_tag("step3.png", :class => "img-responsive") %>
<div class="row form">
  <div class="col-xs-6 col-sm-6 col-md-6">
    <%= image_tag(person_photo(@person), :class => "img-responsive") %>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6">
    <h3><%= @person.name %></h3>
    <h4>keywords</h4>
    <% @person.keywords.each do |keyword| %>
      <p>◆ <%= keyword.name %></p>
    <% end %>
  </div>
</div>
<div class="row form">
  <div class="col-xs-6 col-sm-6 col-md-6">
    <%= image_tag(resource_photo(@resource), :class => "img-responsive") %>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6">
    <h3><%= @resource.name %></h3>
    <h4>keywords</h4>
    <% @resource.keywords.each do |keyword| %>
      <p>◆ <%= keyword.name %></p>
    <% end %>
  </div>
</div>
<div class="center"><%= image_tag("equal.png") %></div>
<div class="row form">
    <%= form_tag(events_path) do %>
      <div class="col-xs-5 col-sm-5 col-md-5">
        <input placeholder="カタカナで入力" type="text" class="form-control" name="kata" autofocus="true"></input>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 center"><%= image_tag("wind.png") %></div>
      <div class="col-xs-5 col-sm-5 col-md-5">
        <input placeholder="ひらがなで入力" type="text" class="form-control" name="hira"></input>
      </div>
      <textarea placeholder="イベント概要を入力してください" name="detail" cols="30" rows="10" class="form-control"></textarea>
      <input type="hidden" name="person_id" value="<%= @person.id %>">
      <input type="hidden" name="resource_id" value="<%= @resource.id %>">
      <input type="submit" value="送信" class="btn btn-primary withripple">
    <% end %>
</div>
