<div class="col-lg-12">
  <div class="center">
    <%= image_tag("step2.png", :class => "img-responsive") %>
  </div>
  <% @resources.each do |resource| %>
    <div class="row form">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <%= image_tag(resource_photo(resource), :class => "img-responsive") %>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6">
        <h3><%= resource.name %></h3>
        <h4>keywords</h4>
        <% resource.keywords.each do |keyword| %>
          <p>◆ <%= keyword.name %></p>
        <% end %>
        <%= link_to "詳細", resource_path(resource, person_id: params[:person_id]), :class => "btn btn-info normal" %>
      </div>
    </div>
  <% end %>
  <%= paginate(@resources) %>
</div>
