<div class="row form_clear">
  <div class="col-xs-12 col-sm-12 col-md-12 center">
    <%= image_tag("contact.png", :class => "img-responsive") %>
  </div>
  <div class="col-xs-2 col-xs-offset-2 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2">
    <%= link_to "mailto:takeyamalab.global2014@gmail.com" do %>
      <%= image_tag("mail.png", :class => "img-responsive") %>
      <label>Mail</label>
    <% end %>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2">
    <%= link_to "http://keglab.jp/", :target=>["_blank"] do %>
      <%= image_tag("web.png", :class => "img-responsive") %>
      <label>Web</label>
    <% end %>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2">
    <%= link_to "https://twitter.com/Takeyama_Lab", :target=>["_blank"] do %>
      <%= image_tag("twitter.png", :class => "img-responsive") %>
      <label>Twitter</label>
    <% end %>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2">
    <%= link_to "https://www.facebook.com/TakeyamaLab", :target=>["_blank"] do %>
      <%= image_tag("facebook.png", :class => "img-responsive") %>
      <label>Facebook</label>
    <% end %>
  </div>
</div>
