<div class="col-lg-12">
  <div class="center">
    <br>
    <%= image_tag("contact.png") %>
  </div>
  <div class="center">
    <%= link_to "mailto:takeyamalab.global2014@gmail.com" do %>
      <%= image_tag("mail.png") %>
      Mail
    <% end %>
    <%= link_to "http://keglab.jp/", :target=>["_blank"] do %>
      <%= image_tag("web.png") %>
      Web
    <% end %>
    <%= link_to "https://twitter.com/Takeyama_Lab", :target=>["_blank"] do %>
      <%= image_tag("twitter.png") %>
      Twitter
    <% end %>
    <%= link_to "https://www.facebook.com/TakeyamaLab", :target=>["_blank"] do %>
      <%= image_tag("facebook.png") %>
      Facebook
    <% end %>
  </div>
</div>
